.image {
    max-width: 34rem;
    max-height: 34rem;
  }

  .container{
    display: block;
    grid-template-areas: 
    "body";
    position: center;
    width: 1000px;
    height: 600px;
    top: 10px;
    left: 50rem;
    margin: auto;
  }
  .body {
    grid-area: body;
    background-color:bisque;
    color: #000000;
    display: flex;
    text-align: justify; 
    line-height: 2;
    padding: 5rem; 
  }
  .title{
    padding: 5rem;
    font-size: 2rem;
    font-weight: bold;
  }



 